In [2]:
import pandas as pd

In [3]:
df.head()

  "State/UTs","Total Vaccination Doses","Dose1","Dose2","Vaccination Doses Day Before",
0  'Andaman and Nicobar','4,36,63193','2,88,52329...
1  'Andhra Pradesh','3,91,56,4751,60,402','2,63,3...
2  'Arunachal Pradesh','11,37,0642,442','7,51,290...
3  'Assam','2,34,27,60275,262','1,81,50,84841,920...
4  'Bihar','5,33,80,3642,37,794','4,29,44,2351,59...

In [5]:
df = pd.read_csv("data0.txt",delimiter=',')
df.to_csv('Demo1.csv')

In [16]:
df = pd.read_csv("vaccine.csv")
df.head()
df.drop(0)

,State/UTs,Total Vaccination Doses,Dose1,Dose2,Vaccination Doses Day Before
0,Andaman and Nicobar,"4,38,5001,869","2,88,878355","1,49,6221,514","4,36,631"
1,Andhra Pradesh,"3,97,36,4895,80,014","2,66,36,3483,05,067","1,31,00,1412,74,947","3,91,56,475"
2,Arunachal Pradesh,"11,48,68611,622","7,52,5731,283","3,96,11310,339","11,37,064"
3,Assam,"2,36,34,7422,07,140","1,82,52,6211,01,773","53,82,1211,05,367","2,34,27,602"
4,Bihar,"5,38,14,7014,34,337","4,32,29,2722,85,037","1,05,85,4291,49,300","5,33,80,364"
5,Chandigarh,"13,31,7196,725","8,95,0642,260","4,36,6554,465","13,24,994"
6,Chhattisgarh,"1,80,21,6781,22,279","1,29,23,82759,805","50,97,85162,474","1,78,99,399"
7,Dadra and Nagar Haveli and Daman and Diu,"9,05,5207,091","6,43,3971,060","2,62,1236,031","8,98,429"
8,Delhi,"1,73,77,0512,06,007","1,18,40,38390,936","55,36,6681,15,071","1,71,71,044"
9,Goa,"18,88,33616,453","12,20,1062,804","6,68,23013,649","18,71,883"
10,Gujarat,"6,00,58,7915,26,277","4,15,70,8472,52,579","1,84,87,9442,73,698","5,95,32,514"
11,Haryana,"2,24,23,2441,23,219","1,63,39,48065,491","60,83,76457,728","2,23,00,025"
12,Himachal Pradesh,"82,79,22951,974","56,51,3964,677","26,27,83347,297","82,27,255"
13,Jammu and Kashmir,"1,10,79,3551,35,633","77,20,99172,735","33,58,36462,898","1,09,43,722"
14,Jharkhand,"1,74,16,9441,39,483","1,34,33,51885,821","39,83,42653,662","1,72,77,461"
15,Karnataka,"5,49,20,6743,00,340","3,86,47,2051,15,292","1,62,73,4691,85,048","5,46,20,334"
16,Kerala,"3,51,74,86362,890","2,45,44,94923,316","1,06,29,91439,574","3,51,11,973"
17,Ladakh,"3,38,0581,067","2,03,901320","1,34,157747","3,36,991"
18,Lakshadweep,"95,648728","54,76739","40,881689","94,920"
19,Madhya Pradesh,"6,23,84,63512,62,950","4,77,28,5546,43,974","1,46,56,0816,18,976","6,11,21,685"
20,Maharashtra,"7,93,78,46310,52,211","5,61,68,9126,25,761","2,32,09,5514,26,450","7,83,26,252"
21,Manipur,"16,81,84510,706","12,20,7251,091","4,61,1209,615","16,71,139"
22,Meghalaya,"15,20,3849,599","10,67,8551,588","4,52,5298,011","15,10,785"
23,Mizoram,"11,13,6537,424","6,93,9771,080","4,19,6766,344","11,06,229"
24,Nagaland,"10,28,5899,839","6,83,2781,486","3,45,3118,353","10,18,750"
25,Odisha,"2,98,07,41290,789","2,16,98,08947,245","81,09,32343,544","2,97,16,623"
26,Puducherry,"9,95,64311,512","6,94,5304,070","3,01,1137,442","9,84,131"
27,Punjab,"1,93,28,70164,965","1,43,96,25141,883","49,32,45023,082","1,92,63,736"
28,Rajasthan,"5,51,02,6501,92,356","4,00,42,42682,021","1,50,60,2241,10,335","5,49,10,294"
29,Sikkim,"8,90,2216,979","5,17,475392","3,72,7466,587","8,83,242"
30,Tamil Nadu,"4,64,08,2752,58,824","3,55,90,4651,41,340","1,08,17,8101,17,484","4,61,49,451"
31,Telangana,"2,50,51,1633,44,495","1,82,11,7712,48,135","68,39,39296,360","2,47,06,668"
32,Tripura,"38,23,52428,429","24,92,4481,430","13,31,07626,999","37,95,095"
33,Uttar Pradesh,"10,39,43,39236,33,814","8,42,71,71326,63,425","1,96,71,6799,70,389","10,03,09,578"
34,Uttarakhand,"1,03,84,25244,033","73,34,46510,332","30,49,78733,701","1,03,40,219"
35,West Bengal,"5,63,19,3795,85,378","4,00,49,3364,12,438","1,62,70,0431,72,940","5,57,34,001"
36,Miscellaneous,"34,62,227174","19,02,86935","15,59,358139","34,62,053"

In [5]:
df2 = pd.read_csv("corona.csv")

In [6]:
df2.head()

,Unnamed: 0,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Unnamed: 8
0,0,Maharashtra,"65,44,325","41,39632","63,64,027","1,38,90232",0.63%,97.24%,2.12%,NaN
1,1,Kerala,"46,41,58711,699","1,57,7336,122","44,59,19317,763","24,66158",3.40%,96.07%,0.53%,NaN
2,2,Karnataka,"29,73,899504","12,833409","29,23,320893","37,74620",0.43%,98.30%,1.27%,NaN
3,3,Tamil Nadu,"26,58,9231,657","17,26124","26,06,1531,662","35,50919",0.65%,98.02%,1.34%,NaN
4,4,Andhra Pradesh,"20,47,459618","12,482566","20,20,8351,178","14,1426",0.61%,98.70%,0.69%,NaN

In [59]:
j = df.index[df["State/UTs"]=="Kerala"]
df1 =  df.iloc[j]

In [27]:
df2

{'Unnamed: 0': {16: 16},
 'State/UTs': {16: 'Kerala'},
 'Total Vaccination Doses': {16: '3,51,74,86362,890'},
 'Dose1': {16: '2,45,44,94923,316'},
 'Dose2': {16: '1,06,29,91439,574'},
 'Vaccination Doses Day Before': {16: '3,51,11,973'},
 'Unnamed: 5': {16: nan}}

In [66]:
df2.to_dict('index')

{16: {'Unnamed: 0': 16,
  'State/UTs': 'Kerala',
  'Total Vaccination Doses': '3,51,74,86362,890',
  'Dose1': '2,45,44,94923,316',
  'Dose2': '1,06,29,91439,574',
  'Vaccination Doses Day Before': '3,51,11,973',
  'Unnamed: 5': nan}}

{'Unnamed: 0': {16: 16},
 'State/UTs': {16: 'Kerala'},
 'Total Vaccination Doses': {16: '3,51,74,86362,890'},
 'Dose1': {16: '2,45,44,94923,316'},
 'Dose2': {16: '1,06,29,91439,574'},
 'Vaccination Doses Day Before': {16: '3,51,11,973'},
 'Unnamed: 5': {16: nan}}

In [ ]:
|